<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ateg.flooringmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_18"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddressIndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddressPagerActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddressIndexActivity" />
        </activity>
        <activity android:name=".AddressCreateActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddressIndexActivity" />
        </activity>
        <activity android:name=".AddressShowActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddressIndexActivity" />
        </activity>
        <activity android:name=".AddressEditActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddressIndexActivity" />
        </activity>
    </application>

</manifest>